@media (max-width: 1200px) {
    .promo {
        .container {
            max-width: 850px;
        }
    }
}
@media (max-width: 991px) {
    .header{
        &__logo {
            width: 200px;
            }
        &__official {
            line-height: 12px;
            span {
                font-size: 16px;
            }
        }
        &__phone {
            font-size: 16px;
        }
    }
    .promo {
        .container {
            max-width: 700px;
        }
        &__header {
            font-size: 38px;
        }
        &__subheader {
            font-size: 20px;
        }
    }
    .advantages {
        &__descr {
            width: 220px;
        }
        &__subtitle {
            font-size: 16px;
        }
        &__text {
            font-size: 12px;
        }
        .container {
            max-width: 700px;
        }
    }
}
@media (max-width: 767px) {
    .xs-hidden {
            display: none;
    }
    .xs-visible {
        display: block;
        margin-top: 30px;

    }
    .header{
        justify-content:space-around;
        &__official {
            font-size: 14px;
            span {
                font-size: 18px;
            }
        }
    }
    
    .promo {
        .container {
            max-width: 550px;
        }
        &__wrapper {
            align-items: center;
        }
        &__header {
            font-size: 32px;
        }
        &__subheader {
            font-size: 16px;
        }
    }
    
    .advantages {
        .container {
            max-width: 550px;
        }
        &__icon {
            img {
                width: 60px;
            }
        }
        &__descr {
            width: 180px;
        }
        &__subtitle {
            font-size: 15px;
        }
        &__text {
            font-size: 12px;
        }
    }
}
@media (max-width: 575px) {   
    .header{
        &__logo {
            width: 150px;
            }
        &__official {
            line-height: 12px;
            span {
                font-size: 16px;
            }
        }
        &__phone {
            font-size: 12px;
        }
        .button {
            width: 120px;
            height: 25px;
            font-size: 10px;
        }
    }
    .promo {
        .container {
            max-width: 300px;
        }
        &__header {
            font-size: 22px;
        }
        &__subheader {
            font-size: 15px;
            text-align: center;
        }
        &__icons {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 10px;
        }
        &__icon {
            margin-top: 30px;
            img {
                margin-bottom: 10px;
            }
        }
        .button_main {
            width: 250px;
            height: 45px;
            font-size: 14px;
            margin-top: 45px;
        }
    }
    .advantages {
        .title {
            font-size: 23px;
        }
        &__icons {
            margin-top: 30px;
            flex-direction: column;
            align-items: center;
        }
        &__icon {
            margin-top: 30px;
        }
        &__descr {
            margin-top: 20px;
        }
    }
}

